<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark ">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
        <img src="/img/ProspectGen_AI01_white.png" height="30" class="d-inline-block align-top" alt="">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/replyIOHome">Email</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/companies">Companies</a>
            </li>



            <!-- Dropdown -->
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"-->
            <!--aria-expanded="false">Dropdown</a>-->
            <!--<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--</div>-->
            <!--</li>-->

        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<div id="createMenu" class="dropdown">
    <!--Trigger-->
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Create</button>
    <!--Menu-->
    <div class="dropdown-menu dropdown-success" >
        <a class="dropdown-item" data-location="/newcompany" style="font-size: 12.97px !important;
        font-weight: 400 !important;cursor: pointer" href="/newcompany">Create Company</a>
        <a class="dropdown-item" data-location="/newcampaign" style="font-size: 12.97px !important;
        font-weight: 400 !important;cursor: pointer" href="/newcampaign">Create Campaign</a>
    </div>
</div>
<div class="row " style="margin-top: 70px">
    <div class="col-md-3"></div>
    <div class="col-md-6  border border-light p-5">
        <p class="h4 mb-4">Add Company</p>
        <div id="loader" class="loader invisible center-block"></div>
        <form id="addCompanyForm" method="post">
            <div class="md-form mt-3">
                <label class="active" for="companyName">Company Name</label>
                <input type="text" id="companyName" class="form-control" name="companyName" required>

            </div>
            <div class="md-form mt-3">
                <label class="active" for="accountEmail">Company Email</label>
                <input type="email" id="accountEmail" class="form-control" name="accountEmail" required>

            </div>
            <div class="md-form mt-3 ">
                <p class="h4 mb-4">Send Report Weekly on</p>
                <div class="card">
                    <div id="daySelection" class="card-body">
                        <div class="row text-center">
                            <div class="col-md-6">

                                <div class="custom-control custom-checkbox  font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="dayChecked1" >
                                    <label class="custom-control-label" for="dayChecked1">Monday</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="dayChecked2" >
                                    <label class="custom-control-label" for="dayChecked2">Tuesday</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="dayChecked3" >
                                    <label class="custom-control-label" for="dayChecked3">Wednesday</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="dayChecked4" >
                                    <label class="custom-control-label" for="dayChecked4">Thursday</label>
                                </div>

                            </div>
                            <div class="col-md-6" >

                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="dayChecked5" >
                                    <label class="custom-control-label" for="dayChecked5">Friday</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="dayChecked6" >
                                    <label class="custom-control-label" for="dayChecked6">Saturday</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="dayChecked7" >
                                    <label class="custom-control-label" for="dayChecked7">Sunday</label>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <div class="md-form mt-3 ">
                <p class="h4 mb-4">Include in Weekly Report</p>
                <div class="card">
                    <div id="daySelection" class="card-body">
                        <div class="row text-center">
                            <div class="col-md-6">

                                <div class="custom-control custom-checkbox  font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked1" checked>
                                    <label class="custom-control-label" for="defaultChecked1">Company</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                                    <label class="custom-control-label" for="defaultChecked2">Campaign</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked3" checked>
                                    <label class="custom-control-label" for="defaultChecked3">Status</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold hidden">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked4" >
                                    <label class="custom-control-label" for="defaultChecked4">Email Prospects</label>
                                </div>

                            </div>
                            <div class="col-md-6" >

                                <div class="custom-control custom-checkbox font-weight-bold hidden">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked5" >
                                    <label class="custom-control-label" for="defaultChecked5">Email Delivered</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold hidden">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked6" >
                                    <label class="custom-control-label" for="defaultChecked6">Email Opened</label>
                                </div>
                                <div class="custom-control custom-checkbox font-weight-bold hidden">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked7" >
                                    <label class="custom-control-label" for="defaultChecked7">Email Responses</label>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <div class="md-form mt-3 ">
                <p class="h4 mb-4">Additional Column to Include in Weekly Report</p>
                <div class="card">
                    <div id="additonalColumnSelection" class="card-body">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox  font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked8" checked>
                                    <label class="custom-control-label" for="defaultChecked8">Connection Requests</label>
                                </div>
                                <div class="custom-control custom-checkbox  font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked9" checked>
                                    <label class="custom-control-label" for="defaultChecked9">New Connections</label>
                                </div>
                                <div class="custom-control custom-checkbox  font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked10" checked>
                                    <label class="custom-control-label" for="defaultChecked10">Message Responses</label>
                                </div>
                                <div class="custom-control custom-checkbox  font-weight-bold">
                                    <input type="checkbox" class="custom-control-input" id="defaultChecked11" checked>
                                    <label class="custom-control-label" for="defaultChecked11">Welcome Responses</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

            <p class="h4 mb-4">Sender Account Information &nbsp;<i data-toggle="tooltip" title="Enable less secuure app in gmail" class="fa fa-question"></i></p>
            <div class="md-form mt-3">
                <div class="card">

                </div>
                <input type="email" id="senderEmailAddress" class="form-control" required>
                <label class="active" for="senderEmailAddress">Sender Email Address</label>
            </div>
            <div class="md-form mt-3">
                <input type="password" id="senderPassword" class="form-control" required>
                <label class="active" for="senderPassword">Password</label>
            </div>
            <p class="h4 mb-4">Send Report to</p>
            <div class="md-form mt-3 sendTO" >

                <i class="fa fa-envelope prefix"></i>
                <input type="email" id="inputIconEx1" class="form-control" value="" required>
                <label for="inputIconEx1">E-mail address</label>
                <button id="#additionalReciver"><i class="fa fa-plus"></i></button>
            </div>

            <p class="h4 mb-4">Default Message</p>
            <div class="md-form mt-3" >

                <textarea class="form-control" id="defaultMessage" rows="7"></textarea>
            </div>
            <button id="addCompany" class="btn btn-success">Add Company</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>



<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>

</body>

<script>
    $(document).ready(function (e) {

        $("#addCompany").click(function (e) {
            e.preventDefault();

            var doFormValidation = true;

            if(doFormValidation){
                var defaultMailDays = [];
                for(i=1;i<=7;i++){
                    if($("#dayChecked"+i).prop('checked')){
                        defaultMailDays.push(i);
                    }
                }
                
                
                var emailColumns= [];
                for(i=1;i<=11;i++){
                    if(!$("#defaultChecked"+i).hasClass('hidden') && $("#defaultChecked"+i).prop('checked')){
                        emailColumns.push(i);
                    }
                }
                
                var sendTo = [];
                $(".sendTO input").each(function (index) {
                    if($(this).val() != ''){
                        sendTo.push($(this).val());
                    }
                });

                $.ajax({

                    url:'/addNewCompany',
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        companyName : $("#companyName").val(),
                        accountEmail : $("#accountEmail").val(),
                        defaultMailDays: defaultMailDays,
                        emailColumns: emailColumns,
                        senderEmail: $("#senderEmailAddress").val(),
                        senderPassword: $("#senderPassword").val(),
                        sendTo: sendTo,
                        defaultMessage:$("#defaultMessage").val()
                    },
                    success: function (data) {
                        console.log('sucess is called');
                        window.location = '/companies';
                    },
                    error : function (xhr, ajaxOptions, thrownError) {
                        if(xhr.status!=200) {

                            alert('Something went wrong with Saving Company, pleas refresh the page and try again');
                        }
                    }
                });
            }

        });

    });
</script>

<style>
    #daySelection .custom-control{
        margin-left: 20%;
    }
    #additonalColumnSelection .custom-control{
        margin-left: 10%;
    }

</style>
</html>