<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add Campaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark ">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
        <img src="/img/ProspectGen_AI01_white.png" height="30" class="d-inline-block align-top" alt="">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/replyIOHome">Email</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Companies</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="font-size: 12.97px !important;font-weight: 400 !important;" href="/companies">Linkedin</a>
                    <a class="dropdown-item" style="font-size: 12.97px !important;font-weight: 400 !important;" href="/replyIOcompanies">Email</a>
                </div>
            </li>


            <!-- Dropdown -->
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"-->
            <!--aria-expanded="false">Dropdown</a>-->
            <!--<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--</div>-->
            <!--</li>-->

        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<div id="createMenu" class="dropdown">
    <!--Trigger-->
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Create</button>
    <!--Menu-->
    <div class="dropdown-menu dropdown-success" >
        <a class="dropdown-item" data-location="/newcompany" style="font-size: 12.97px !important;
        font-weight: 400 !important;cursor: pointer" href="/newcompany">Create Company</a>
        <a class="dropdown-item" data-location="/newcampaign" style="font-size: 12.97px !important;
        font-weight: 400 !important;cursor: pointer" href="/newcampaign">Create Campaign</a>
    </div>
</div>

<% if(companyList.length==0){%>
<div class="" style="margin-top: 70px">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4 font-weight-bold shadow-sm ">No Companies Found</h1>
        <h5 class="animated fadeIn mb-3"><a style="color: black !important;" href="/newcompany">Please Create a Company before Creating Campaign</a></h5>


    </div>
</div>
<%}else{%>
<div class="row" style="margin-top: 70px">
    <div class="col-md-3"></div>
    <div class="col-md-6  border border-light p-5">
        <p class="h4 mb-4">Add Campaign Record</p>
        <div id="loader" class="loader invisible center-block"></div>
        <form id="addCompanyForm" method="post">

            <div class="md-form mt-3">
                <label class="" for="campaignName">Campaign Name</label>
                <input type="text" id="campaignName" class="form-control" name="campaignName" required>
            </div>

            <div class="md-form mt-3">
                <label class="active" for="companyName">Company</label>
                <select id="companyName" class="form-control">
                    <%for(i=0;i<companyList.length;i++){%>
                    <option data-name="<%=companyList[i].companyName%>" value="<%=companyList[i]._id%>"><%=companyList[i].companyName%></option>
                    <%}%>
                </select>

            </div>

            <div class="md-form mt-3 ">
               <label class="active" for="status">Campaign Status</label>
                <select id="status" name="status" class="form-control">
                    <option value="Draft">Draft</option>
                    <option value="Running">Running</option>
                    <option value="Completed">Completed</option>
                    <option value="Stopped">Stopped</option>
                    <option value="Deleted">Deleted</option>
                </select>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx1" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx1">Email Prospects</label>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx2" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx1">Email delivered</label>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx3" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx3">Email Opened</label>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx4" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx4">Email Response</label>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx5" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx5">Connection Requests</label>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx6" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx6">New Connections</label>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx7" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx7">Message Responses</label>
            </div>
            <div class="md-form">
                <i class="fa fa-group prefix"></i>
                <input type="text" id="inputIconEx8" class="form-control" value="" required>
                <label class="font-weight-bold" for="inputIconEx8">Welcome Responses</label>
            </div>


            <button id="addCampaign" class="btn btn-success">Add Campaign</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<%}%>



<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>

<script>
    $(document).ready(function (e) {

        $("#addCampaign").click(function (e) {
            e.preventDefault();

            var doValidation = true;
            if(doValidation){
                $.ajax({
                    url:'/addNewCampaign',
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        companyId : $("#companyName option:selected").val(),
                        companyName: $("#companyName option:selected").text(),
                        campaignName: $("#campaignName").val(),
                        status: $("#status option:selected").val(),
                        prospects: getFormattedValue($("#inputIconEx1").val()),
                        delivered: getFormattedValue($("#inputIconEx2").val()),
                        opened: getFormattedValue($("#inputIconEx3").val()),
                        response: getFormattedValue($("#inputIconEx4").val()),
                        customCol1: getFormattedValue($("#inputIconEx5").val()),
                        customCol2: getFormattedValue($("#inputIconEx6").val()),
                        customCol3: getFormattedValue($("#inputIconEx7").val()),
                        customCol4: getFormattedValue($("#inputIconEx8").val()),
                    },
                    success: function (data) {
                        alert('Campaign Record saved carefully');
                        window.location = '/';
                    },
                    error : function (xhr, ajaxOptions, thrownError) {
                        if(xhr.status!=200) {

                            alert('Something went wrong with Saving Campaign, pleas refresh the page and try again');
                        }
                    }
                })
            }

        });
    });

    function getFormattedValue(value) {
        return value.length==0 ? 0 : value;
    }
</script>
</body>

</html>