<nav class="navbar navbar-expand-lg navbar-dark ">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
        <img src="/img/ProspectGen_AI01_white.png" height="30" class="d-inline-block align-top" alt="">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">LinkedIn
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/replyIOHome">Email</a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Admin</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="font-size: 12.97px !important;font-weight: 400 !important;" href="/companies">Linkedin</a>
                    <a class="dropdown-item" style="font-size: 12.97px !important;font-weight: 400 !important;" href="/replyIOcompanies">Email</a>
                    <a class="dropdown-item" style="font-size: 12.97px !important;font-weight: 400 !important;" href="/emailQueue">Email Queue</a>
                    <a class="dropdown-item" style="font-size: 12.97px !important;font-weight: 400 !important;" href="/users">Users</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/anglelist">Angle</a>
            </li>



        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>