/*a {*/
    /*color: #fff !important;*/
/*}*/

body{
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer ,thead, nav{
    background-color: #020843 !important;
}
#createMenu{
    position: absolute;
    top:0px;
    right: 5px;
}

.dropdown-item{
    padding: .5rem;
    margin-left: 0;

    font-size: .9rem;
}
.dropdown-item:hover{
    background-color: #00c851 !important;
    color: white !important;

}
#addMoreEmail{
    padding-left: 16.433px;
    padding-right: 16.433px;
    border-radius: 50%
}
.badge-danger{
    cursor: pointer;
}